.navbar-default {
	background-color: #72BDF9;
	border-color: #72BDF9;
}

.aaaaaaa {
	background-color: #337AB7;
	border-color: #337AB7;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #FFF !important;
	background-color: #06622C !important;
}

.navbar-default .navbar-nav > li > a:focus{

	color: #FFF !important;
	background-color: #06622C !important;

	}

.menu-header {
	background-color: #fff;
	border: 1px solid;
	border-color: #03355D;
}

.menu-header > li > a:hover {
	background-color: #03355D;
	color: #fff;
}

.menu-header > li > a:focus {
	background-color: #0276be;
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #FEFEFE;
	font-size: 15px;
}
.header-content {
	margin-top: 11px;
	background-color: #FFF;
	margin-top: 31px;
	color: #000;
	border-color: #FFFFFF;
}
.buscar{
	padding-top: 8%;
}
.btnbuscar {
	background-color: rgba(255, 255, 255, 0);
	color: #fff !important;
	border-radius-left: 0px;
}sss

.menu-sos {
	background-color: rgb(2, 118, 190);
	color: rgb(255, 255, 255);
	border-radius: 8px;
}

.menu-sos ul li a {
	color: #fff;
}

.menu-sos ul li a:hover {
	text-decoration: none;
	background-color: #02a53e;
}

.btnbuscar:hover{
	background-color: #06622C;
	color: rgb(255, 255, 255) !important;
}

.header-titulos {
color: #FFFFFF; 
border-color: #FFFFFF; 
	font-size: 28px;
	font-style: oblique;
	font-family: initial;
	margin-top: 10px;
	text-align: center;
background-color: #2B68C8;
	border-radius: 5px;
	margin-bottom: 10px;
}
#pie {
	background-color: RGB(239, 239, 239);
	min-height: 200px;
	font-size: 14px;
	color: #000;
	text-decoration: none rgb(73, 188, 188);
	padding-top: 50px;
	border-color: #FFFFFF;
}

#mensaje {
	margin-left: 20px;
	color: rgba(255, 0, 0, 0.48);
}
header .row{
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 50px;
}
.container-fluid.fondo {
background-color: #fff;
}
.header-content{
min-height: 20px;
}
.fondo{
	min-height: 600px;
}
.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 {
	min-height: 580px;
	margin-top: 5px;
	/* max-height: 590px; */
	/* overflow: auto; */
}

.logo{

	padding-top: 7px;

}

.navbar-header a:hover{

-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.16);
-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.16);/* Firefox */
-o-box-shadow: 0px 0px 20px rgba(255,255,255,0.16); /* IE 9 */
-ms-box-shadow: 0px 0px 20px rgba(255,255,255,0.16); /* Opera */
}


.pie-pagina {
	min-height: 100px;
	padding-bottom: 25px;
	color: #666;
}

.pie-pagina a {
color: #666;
}

.pie-pagina a:focus, a:hover {
	text-decoration: underline;
}

.pie1 {
	border-right: 1px solid;
	min-height: 150px;
	border-color: #c5c5b9;
	padding-left: 80px;
}

.pie2 {
	border-right: 1px solid;
	min-height: 150px;
	border-color: #c5c5b9;

}

.derechos{

	color: #666;
}

.derechos a{

	color: #666;
}

.derechos a:hover{

	color: #666;
	text-decoration: underline;
}


@media (max-width: 768px) {
  #pie {
	background-color: RGB(239, 239, 239);
	min-height: 200px;
	font-size: 14px;
	color: #000;
	text-decoration: none rgb(73, 188, 188);
	padding-top: 10px;
	border-color: #FFFFFF;
	}
  .pie2 {
	border-right: 1px solid;
	min-height: 150px;
	border-color: #c5c5b9;
	padding-left: 80px;
	text-align: center;
	}
  .pie-pagina {
	min-height: 20px;
	padding-bottom: 10px;
	color: #666;
	}
}
