.prviuw {
	float: left;
	margin: 3px;
	border: 1px solid #c1c8fe;
	padding: 10px;
}

.titulo-img {
	border-bottom: 2px solid #d2d2d2;
	text-align: center;
	margin-bottom: 38px;
	font-size: 20px;
	font-style: initial;
	font-family: unset;
	margin-top: 7px;
}
#tituloo {
	border-bottom: 2px solid #d2d2d2;
	text-align: center;
	margin-bottom: 38px;
	font-size: 24px;
	font-style: initial;
	font-family: unset;
}

#agregar_categoria {
	background-color: rgb(2, 118, 190) !important;
	color: #fff;
}

#agregar_marca {
	background-color: rgb(2, 118, 190) !important;
	color: #fff;
}

#agregar_categoria:hover{
	background-color: rgb(0, 165, 65) !important;
	color: #fff;
}

#agregar_marca:hover {
	background-color: rgb(0, 165, 65) !important;
	color: #fff;
}
.area_de_busqueda {
	min-height: 600px;
	border: 2px solid #f6f4f1;
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
.mensasaje {
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	color: red;
	font-style: italic;
	border-bottom: 1px solid cornflowerblue;
}
.botonmm {
	font-size: 18px !important;
	margin: 5px;
	border: 1px solid #0276be;
	padding: 4px !important;
	border-radius: 5px;
	margin-top: 0px;
	cursor: pointer;
}
.botonmm:hover {
	font-size: 18px !important;
	margin: 5px;
	border: 1px solid #0276be;
	padding: 4px !important;
	border-radius: 5px;
	margin-top: 0px;
	cursor: pointer;
	background: #019b0e;
	color: white;
}

.pro-update-img {
	position: relative !important;
}
.pro-update-boton {
	left: 42%;
	font-size: 17px;
	color: #c21111;
	cursor: pointer;
}
.pro-update-boton:hover {
	left: 42%;
	font-size: 17px;
	color: #049e3f;
	cursor: pointer;
}
#menos_3 {
	border: 1px solid rebeccapurple;
	float: left;
	width: 20%;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 3px 0px 1px 1px rgba(55, 252, 50, 0.29);
	margin-left: 3%;
}
#mas_3 {
	
	border-radius: 5px;
	box-shadow: 3px 0px 1px 1px rgba(55, 252, 50, 0.29);
	
}
#fotosmenos3 {
	margin-bottom: 10px;
	border-bottom: 2px solid #d2d2d2;
	padding-bottom: 35px;
}


.btn_add {
	background-color: rgb(2, 118, 190) !important;
	color: #fff;
}


.btn_add:hover {
	background-color: rgb(0, 165, 65) !important;
	color: #fff;
}


.btn_eliminar{
	background-color: rgb(194, 17, 17) !important;
	color: #fff;
}


.btn_eliminar:hover{
	background-color: rgb(0, 165, 65) !important;
	color: #fff;

}
#mensaje_no_hay_fotos {
	text-align: center;
	color: red;
	font-size: 16px;
	font-style: italic;
}
#redireccion {
	text-align: center;
	font-size: 14px;
	font-style: italic;
	padding-top: 11px;
	padding-bottom: 11px;
}
.mensaje_error {
	font-size: 12;
	font-style: italic;
	padding: 15px;
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	margin-bottom: 22px;
}