.prviuw {
	float: left;
	margin: 3px;
	border: 1px solid #c1c8fe;
	padding: 10px;
}

.titulo-img {
	border-bottom: 2px solid #d2d2d2;
	text-align: center;
	margin-bottom: 38px;
	font-size: 20px;
	font-style: initial;
	font-family: unset;
	margin-top: 7px;
}
#tituloo {
	border-bottom: 2px solid #d2d2d2;
	text-align: center;
	margin-bottom: 38px;
	font-size: 24px;
	font-style: initial;
	font-family: unset;
}

#agregar_categoria {
	background-color: rgb(2, 118, 190) !important;
	color: #fff;
}

#agregar_marca {
	background-color: rgb(2, 118, 190) !important;
	color: #fff;
}

#agregar_categoria:hover{
	background-color: rgb(0, 165, 65) !important;
	color: #fff;
}

#agregar_marca:hover {
	background-color: rgb(0, 165, 65) !important;
	color: #fff;
}
.area_de_busqueda {
	min-height: 600px;
	border: 2px solid #f6f4f1;
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
.mensasaje {
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	color: red;
	font-style: italic;
	border-bottom: 1px solid cornflowerblue;
}
.botonmm {
	font-size: 18px !important;
	margin: 5px;
	border: 1px solid #0276be;
	padding: 4px !important;
	border-radius: 5px;
	margin-top: 0px;
	cursor: pointer;
}
.botonmm:hover {
	font-size: 18px !important;
	margin: 5px;
	border: 1px solid #0276be;
	padding: 4px !important;
	border-radius: 5px;
	margin-top: 0px;
	cursor: pointer;
	background: #019b0e;
	color: white;
}